body {
    padding: 50px;
}

p {
    cursor: pointer !important;
    margin: 0px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: auto;
}

.complete {
    text-decoration: line-through;
}